@using HoliPics.Authorization
@using Microsoft.AspNetCore.Authorization;

@inject IAuthorizationService AuthorizationService

@model IEnumerable<HoliPics.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>My albums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if ((await AuthorizationService.AuthorizeAsync(User, item, AlbumOperations.Read)).Succeeded)
            {
                <tr>
                    <td>
                        <a class="link" asp-area="" asp-controller="Album" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>                      
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            
}
    </tbody>
</table>
